In [1]:
import pandas as pd

In [2]:
genomes=["A","B","D"]

In [3]:
net=list()
for g in genomes:
    x=pd.read_csv("Consensus_network.1000_RAxML.{genome}.tsv".format(genome=g),sep=" ",index_col=None,header=None,names=["x","y","support"])
    x["genome"]=g
    net.append(x)
net=pd.concat(net)
net.head()

        x       y  support genome
0  WW-451  WW-007    0.985      A
1  WW-451  WW-156    0.782      A
2  WW-451  WW-149    0.010      A
3  WW-451  WW-013    0.001      A
4  WW-451  WW-044    0.002      A

In [4]:
net.query("support>0.1").genome.value_counts()

B    1039
A    1033
D     726
Name: genome, dtype: int64

In [5]:
net.genome.value_counts()

D    23164
B     6945
A     5636
Name: genome, dtype: int64

In [6]:
mst=list()
for g in genomes:
    x=pd.read_csv("Consensus_network.1000_RAxML2MST.{genome}.tsv".format(genome=g),sep=" ",index_col=None,header=None,names=["x","y","support"])
    x["genome"]=g
    x["mst"]=True
    mst.append(x)
mst=pd.concat(mst)
mst.head()

        x       y  support genome   mst
0  WW-451  WW-007    0.985      A  True
1  WW-451  WW-156    0.782      A  True
2  WW-007  WW-050    0.376      A  True
3  WW-048  WW-050    1.000      A  True
4  WW-050  WW-165    0.885      A  True

In [7]:
mst.genome.value_counts()

A    481
B    461
D    437
Name: genome, dtype: int64

In [8]:
net=net.merge(mst,how="left",on=["x","y","support","genome"])
net.head()

        x       y  support genome   mst
0  WW-451  WW-007    0.985      A  True
1  WW-451  WW-156    0.782      A  True
2  WW-451  WW-149    0.010      A   NaN
3  WW-451  WW-013    0.001      A   NaN
4  WW-451  WW-044    0.002      A   NaN

In [9]:
net.loc[net["mst"].isnull(),"mst"]=False

In [10]:
net.mst.value_counts()

False    34366
True      1379
Name: mst, dtype: int64

In [15]:
net.query("not ( genome=='D' and (x=='WW-225' or y=='WW-225'))",inplace=True)

In [17]:
net.genome.value_counts()

D    23032
B     6945
A     5636
Name: genome, dtype: int64

In [18]:
net.to_csv("Consensus_network.1000_RAxML.all_genomes.tsv",sep="\t",index=False)